@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/chronicle-display');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-image: url(/img/BG.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.logo{
    margin-left: 80px;
}
.logo-link{
    text-decoration: none;
    font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0,01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: center;
}
.header-links a{
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.account{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin-right: 80px;
    text-align: center;
}
.account-link{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.main-content{
    text-align: left;
    flex-direction: column;
    padding-top: 200px;
    display: flex;
    align-items: center;
    width: 1300px;
    margin-left: 500px;
}
.main-heading{
    margin-top: 30px;
    text-align: left;
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.a-hiking-guide{
    width: 950px;
    text-align: left;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    position: absolute;
    left: 604px;
}
.line{
    position: absolute;
    margin-top: 10px;
    left: 500px;
    width: 72px;
    height: 2px;
    background: #FBD784;
}
.scroll-down{
    width: 950px;
    text-align: left;
    /* margin-top: 40px; */
    text-decoration: none;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    position: absolute;
    left: 500px;
    top: 574px;
}
.arrow{
    /* position: relative;
    margin-top: -20px;
    right: 360px; */
    position: absolute;
    left: 610px;
    top: 573px;
}
