@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("http://fonts.cdnfonts.com/css/chronicle-display");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #0b1d26;
  background-image: url(./img/BG.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-left: 80px;
}

.logo-link {
  text-decoration: none;
  list-style: none;
  font-family: "Chronicle Display";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.link-item {
  list-style: none;
  text-decoration: none;
  transition: 0.1s all ease;
}

.link-item:hover {
  border-bottom: 2px solid #ffffff;
}

.link-item a {
  list-style: none;
  text-decoration: none;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.account-link:hover {
  color: rgb(211, 209, 209);
}

input[type="checkbox"],
label {
  display: none;
}

.account {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-right: 80px;
  text-align: center;
}

.account-link {
  position: relative;
  list-style: none;
  text-decoration: none;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 20px;
}

.account-link::before {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  left: -30px;
  background: url(./img/cart.png);
  width: 25px;
  height: 25px;
}

.hero {
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  margin-bottom: 882px;
}

.hero-guide {
  position: relative;
  padding-left: 102px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.hero-guide::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 10px;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.hero-heading {
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 100px;
  text-transform: capitalize;
  color: #ffffff;
}

.hero-a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
/* 
.hero-a:hover{
  color: #d8d2d2;
} */

.hero-a::before {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 24px;
  right: -30px;
  top: 0;
  background-image: url(./img/arrow_downward_24px.svg);
}

/* Main */

.container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.article {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}
article:nth-child(even) {
  flex-direction: row-reverse;
}

.article-text {
  position: relative;
  max-width: 782px;
  padding-left: 150px;
}

.article-text::before {
  position: absolute;
  display: block;
  left: 0;
  top: -103px;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.1;
}

.article-subtitle {
  position: relative;
  padding-left: 102px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.article-subtitle::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 10px;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.article-title {
  max-width: 555px;
  margin-top: 27px;
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
}

.article-p {
  margin-top: 27px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.article-read-more {
  position: relative;
  margin-top: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fbd784;
}

.article-read-more::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 16px;
  top: 5px;
  left: 100px;
  background-image: url(./img/arrow_downward.svg);
}

.article-image {
  width: 566px;
  height: 720px;
}
/* /Main */

/* Footer */
footer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 120px;
}

.logo-link2 {
  text-decoration: none;
  font-family: "Chronicle Display";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
}

.bott-text {
  width: 303px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.info-links {
  padding: 0px;
  list-style: none;
}

.privacy-text {
  margin-top: 100px;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.5;
}

.info-block {
  display: flex;
  gap: 200px;
  margin-left: 500px;
}

.more {
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fbd784;
}

.info2 {
  padding: 0px;
  display: block;
  justify-content: left;
}

.info-links a {
  text-decoration: none;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.info-links a:hover {
  color: #d8d2d2;
}

/* /Footer */

@media (max-width: 1300px) {
  .container {
    padding-left: 20px;
  }
  .article-title {
    font-size: 50px;
  }

  .article-read-more::before {
    margin-left: 20px;
    background-repeat: no-repeat;
  }
  .article-image img {
    margin-top: 85px;
    width: 420px;
    height: 554px;
  }
  .article-read-more::before {
    left: 110px;
  }
  .article {
    gap: 100px;
  }
}

@media (max-width: 1100px) {
  .logo {
    margin-left: 50px;
  }
  .header-links {
    padding-left: 0px;
  }
  .account {
    margin-right: 50px;
  }
  .hero-heading {
    font-size: 65px;
    padding-left: 20px;
  }

  .hero-guide::before {
    left: 20px;
  }

  .hero-a {
    font-size: 16px;
    padding-left: 20px;
  }

  .article-title {
    font-size: 40px;
  }
  .article-subtitle {
    font-size: 16px;
  }
  .article-p {
    font-size: 14px;
  }
  .article-read-more {
    font-size: 16px;
  }
  .article-text::before {
    font-size: 180px;
    margin-left: 40px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .article {
    gap: 20px;
  }
  .article-read-more::before {
    margin-left: 10px;
  }
  article:nth-child(even) .article-image img {
    padding-left: 0px;
  }
  article:nth-child(even) .article-text {
    padding-right: 20px;
  }
  .article-text {
    padding-left: 0px;
  }
}

@media (max-width: 820px) {
  .hero-heading {
    font-size: 45px;
    line-height: 60px;
    padding-left: 20px;
  }

  .hero-guide::before {
    left: 20px;
  }

  .hero-a {
    font-size: 16px;
    padding-left: 20px;
  }

  .article-image img {
    margin-top: 125px;
    width: 360px;
    height: 460px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  article:nth-child(even) .article-text {
    padding-right: 0px;
  }
  article:nth-child(even) .article-image img {
    padding-left: 0px;
  }
  .article {
    margin-top: 70px;
  }
  .hero {
    margin-bottom: 682px;
  }
}
@media (max-width: 700px) {
  .account {
    position: absolute;
    left: 230px;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;

    position: relative;
    margin-right: 50px;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .header-links {
    display: none;
  }
  input[type="checkbox"]:checked ~ .header-links {
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0px;
    transform: rotate(0deg);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0px;
    transform: rotate(90deg);
  }
  .header-links {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background: linear-gradient(
      90deg,
      rgba(45, 45, 45, 0.8) 0%,
      rgba(45, 45, 45, 0.8) 34%,
      rgba(45, 45, 45, 0.8) 73%
    );
    background-position: center;
    z-index: 9;
  }
  li {
    margin: 15px 0px;
  }
  /* .logo {
    margin-left: 20px;
  }
  .header-links {
    padding-left: 80px;
  }

  .account-link {
    margin-right: 0px;
    margin-left: 100px;
  } */

  .article-text::before {
    font-size: 110px;
  }
  .article-title {
    font-size: 30px;
  }
  .article-subtitle {
    font-size: 12px;
  }
  .article-p {
    font-size: 11px;
  }
  .article-read-more {
    font-size: 12px;
  }
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .article-image img {
    margin-top: 155px;
    width: 300px;
    height: 400px;
  }
  .article {
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .article-image img {
    margin-top: 155px;
    width: 250px;
    height: 400px;
  }
}

@media (max-width: 580px) {
  .link-item a {
    font-size: 15px;
  }

  .logo-link {
    font-size: 25px;
  }

  .account-link {
    font-size: 15px;
  }
  .article-image img {
    margin-top: 155px;
    width: 200px;
    height: 400px;
  }
  .article {
    gap: 5px;
  }
}

@media (max-width: 520px) {
  .hero-heading {
    padding-left: 20px;
    font-size: 35px;
    line-height: 50px;
  }

  .hero-guide h3 {
    padding-left: 20px;
    font-size: 20px;
  }

  .hero-guide::before {
    left: 20px;
  }

  .hero-a {
    font-size: 16px;
    padding-left: 20px;
  }

  .hero-guide::before {
    left: 20px;
  }
  .article-image img {
    margin-top: 155px;
    width: 180px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .account {
    position: absolute;
    left: 200px;
  }

  label {
    display: block;
    width: 30px;
    height: 30px;

    position: relative;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .header-links {
    display: none;
  }
  input[type="checkbox"]:checked ~ .header-links {
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0px;
    transform: rotate(0deg);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0px;
    transform: rotate(90deg);
  }
  .header-links {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background: linear-gradient(
      90deg,
      rgba(45, 45, 45, 0.8) 0%,
      rgba(45, 45, 45, 0.8) 34%,
      rgba(45, 45, 45, 0.8) 73%
    );
    background-position: center;
    z-index: 9;
  }
  li {
    margin: 15px 0px;
  }
}
@media (max-width: 470px) {
  .article-image {
    display: none;
  }
  .article {
    margin-top: 150px;
  }
}

@media (max-width: 430px) {
  .account-link {
    left: 0px;
  }
}
@media (max-width: 340px) {
  .account-link {
    left: -30px;
  }
}
